html {
	background: #333;
}
body {
	margin: 0 1.5em;
	background: #fff;
	padding: 0 1em;
	box-shadow: 0 0 1px 4px #fff;
}
img.logo {
	margin: 1em 0;
}
nav.bar > ul{
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border: 1px solid #ccc; 
	border-radius: 5px;
}

nav.bar > ul li{
	float: left;
}

nav.bar > ul li.right{
	float: right;
}

nav.bar > ul li a{
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
}

nav.bar > ul > li:first-of-type a{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

nav.bar > ul > li.right li:last-of-type a{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}



nav.bar > ul li.right li a{
	border-right: 0 solid #ccc;
	border-left: 1 solid #ccc;
}

nav.bar > ul li a:hover{
	color: #c00;
	background-color: #fff;
}

label.tag {
	font-size: .8em;
	padding: .3em;
	border-radius: .4em;
}

label.tag.blue {
	background: #26F;
	color: #fff;
	text-shadow: 1px 1px 2px #333;
}

